
  <footer >
  <div class="footer-content">
    <img src="../img/R.jpg" alt="" class="logo">
    <div class="footer-ul-container">
      <ul class="category">
        <li class="category-title">GentleMen</li>
        <li><a href="#" class="footer-link">t-shirt</a></li>
        <li><a href="#" class="footer-link">Formal Shirts</a></li>
        <li><a href="#" class="footer-link">Formal trousers</a></li>
        <li><a href="#" class="footer-link">CasualTrouser</a></li>
        <li><a href="#" class="footer-link">casual Shirts</a></li>
        <li><a href="#" class="footer-link">Watches</a></li>
        <li><a href="#" class="footer-link">Formal belts</a></li>
        <li><a href="#" class="footer-link">Casual Belts</a></li>
      </ul>
      <ul class="About us">
        <li class="category-title">Official Brand Store</li>
        <li><a href="#" class="footer-link">FAQst</a></li>
        <li><a href="#" class="footer-link">Payment Options</a></li>
        <li><a href="#" class="footer-link">About us</a></li>
        <li><a href="#" class="footer-link">GROUP SITES/ PARTNERS</a></li>
        <li><a href="#" class="footer-link">Aditya Birla Fashion & Retail Ltd</a></li>
        <li><a href="#" class="footer-link">Watches</a></li>
        <li><a href="#" class="footer-link">Formal belts</a></li>
        <li><a href="#" class="footer-link">Casual Belts</a></li>
      </ul>
      
    </div>
  </div>
  <p class="footer-title">About the company</p>
    <p class="info"> <b>Louis Philippe </b> - The House of Premium & Elusive Fashion Choices


<b>Louis Philippe</b> is a name that signifies class, elegance and status. We, at Louis Philippe, hold precision in crafting ensembles that are classic yet contemporary; an exquisite blend for the exemplary man. Creating menswear that appeals to the style-conscious man, the brand curates an exquisite collection of formals, semi-formals, custom-made clothing and accessories available online and in-store.
<br><br>
<b>Shirts for men:</b>
<br>
At Louis Philippe, we fit the man with a wardrobe that elevates his individuality in the boardroom. Louis Philippe shirts for men are tailored to a stellar level of sophistication, one that highlights character but also makes a posh fashion statement. Offering classic yet contemporary, and modern designs, embodying the word on its crest – the mark of excellence.

<br><br>

<b>T-shirts for men:</b>
<br>
At Louis Philippe, we have designed and crafted casual t-shirts for men that not only look sophisticated but are also extremely comfortable. Making sure our high fashion look carries through our online wardrobe is extremely important, this means you will look clean and sharp no matter the occasion or the fit.
<br><br>

<b>Suits for men:</b>
<br>
At Louis Philippe’s online store, we specialize in two-piece suits for every occasion

Formal two-piece suit for men: Ideal for events and meetings where ascertaining authority and gathering respect is of key importance

Party two-piece suit for men: Made to move, look relaxed but also kempt. The patterns and designs are inspired by the class and sophistication of such soirees

Wedding two-piece suit for men: Ceremonial suits in bright and celebratory colors that leave no stone unturned to make you stand out in the crowd.

Business casual two-piece suit for men: Ideal for business meetings that are more casual and at a dinner or lunch setting. These are ideal carry-ons to be ready for an impromptu meeting.

</p>
<p class="info">Support Emails -help@clothing.com, customersupport@clothing.com</p>
<div class="footer-social-container">
  <div>
    <a href="#" class="social-link">Terms & conditions</a>
    <a href="#" class="social-link">privacy page</a>
  </div>
  <div>
    <a href="#" class="social-link">Instagram</a>
    <a href="#" class="social-link">Facebook</a> 
    <a href="#" class="social-link">Twitter</a> 
  </div>
</div>

<p class="footer-credit">
  Clothing by Louis Philippe, The best a man can get.
</p>
 </footer>
