    <!-- !Our Navbar which will display and guide the user to travel across multiple pages. -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mt-auto">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
          <!-- Our Logo -->
          <img
            src="../img/LOGO.jpg"
            alt=""
            width="50"
            height="44"
            class="d-inline-block align-text-top"
          />
        </a>
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../js/index.html">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="../formalshirt.html">New Arrivals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../formalshirt.html">Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../404.html">Jeans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Accessories.html">Accessories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product/new">Add a Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Available Product</a>
            </li>
          </ul>
        </div>

        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <a href="../search.html">Search</a>
          </button>
          <a href="/Registration.html" class="ml-3 mr-3"
            ><img src="../img/account_circle_FILL0_wght400_GRAD0_opsz48.png"
            width="35" height="34" alt=""></a
          >
          <a href="#" class="ml mr-1"
            ><img src="../img/shopping_cart_FILL0_wght400_GRAD0_opsz48.png"
            alt=""" width="35" height="34"></a
          >
        </form>
      </div>
    </nav>
